.contacts-social__list {
   display: none;

   @media screen and (min-width:768px) and (max-width:1199px) {
    display: flex;
    flex-direction: column;
    
   }

   @media screen and (min-width:1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
   }
  }
  
  .contacts-social__link {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--broun);
    list-style-type: none;
    display: flex;
    align-items: center;
    transition: color var(--transition-dur-and-func),
      fill var(--transition-dur-and-func);


      @media screen and (min-width:768px) {
       font-size: 12px;
       line-height: 1.16;
       letter-spacing: 0.02em;
    
      }

      @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
      }

  &:focus {
        color: #188ce8;
      }
    
    
  &:focus  .contacts-social__icon--envelop  {
        color: #188ce8;
        fill: var(--blue);
    }
    
  &:focus  .contacts-social__icon--smartphone {
    
        color: #188ce8;
        fill: var(--blue);
    }
      


  
  }

 
  


  .contacts-social__item {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.02em;



color: #757575;
    list-style-type: none;
    text-decoration: none;
    gap: 30px;

    &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 10px;
      }

    &:hover .contacts-social__link {
        fill: var(--blue);
        color: var(--blue);
      }


  }


  
  
  .contacts-social__icon--envelop {
    
    margin-right: 10px;
    fill: var(--broun);
    width: 16px;
    height: 12px;
  
  }
  
  .contacts-social__icon--smartphone {
    fill: var(--broun);
    width: 12px;
    height: 16px;
    margin-right: 10px;
  }
  

  .contacts-social__icon--envelop,
  .contacts-social__icon--smartphone {
    transition: fill var(--transition-dur-and-func);
  }

 