.services {
  padding-top: 118px;
  padding-bottom: 118px;
  background: #2f303a;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ), 
  url("../img/Header img@1x.jpg");
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;


  
  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution:192dpi) and (max-width: 767px),
  (min-resolution:2dppx) and (max-width: 767px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) and (max-width: 767px),  rgba(47, 48, 58, 0.4)),
    url("../img/Header img@2x.jpg"); 
    
  }

  @media screen and (min-width: 768px) {
 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../img/Header\ img1@1x.jpg");
    
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution:192dpi) and (min-width: 1200px),
  (min-resolution:2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)),
    url("../../img/Шапка@2x.jpg"); 
    
  }


  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(  rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../../img/Шапка_1200@1x.jpg");
    
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution:192dpi) and (min-width: 1200px),
  (min-resolution:2dppx) and (min-width: 1200px) {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4),  rgba(47, 48, 58, 0.4)),
    url("../../img/Шапка_1200@2x.jpg"); 
    
  }

}
    
  
  
  
  .services__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  

   @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--white);
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    
   }
  }


  .services__button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    padding: 10px 24px;
    transition: background-color var(--transition-dur-and-func);

    @media screen and (min-width: 768px) {
     
      margin: 0 auto;
      border: none;
      padding: 10px 32px;
      transition: background-color var(--transition-dur-and-func);
    }


    &:hover,
    &:focus {
        background: #188ce8;
      }
      
  }
